body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("https://s1.hostingkartinok.com/uploads/images/2023/08/0cc72ab9540dea4703afbb7990017c6d.png");
  background-size: cover;
  background-repeat: no-repeat;
}
body::before {
  content: "";
  position: fixed;
  margin: 0 220px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://s1.hostingkartinok.com/uploads/images/2023/08/9fba44a225e6b04b9f27b7bd5d68ad77.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

p,
ul {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background: linear-gradient(to right, #161a16 0%, #161a16 100%);
  padding: 0 310px;
}
@media (max-width: 768px) {
  header {
    font-size: 14px;
    display: flex;
    justify-content: end;
  }
}
header img {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  header img {
    display: flex;
    margin: 21px, 145px;
    height: 18px;
    margin-top: 22px;
    margin-right: 120px;
  }
}
header img:hover {
  background-color: rgb(24, 196, 38);
  color: rgb(10, 10, 10);
  cursor: pointer;
}

.header-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  margin: 17px;
}
.header-title__accept {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .header-title__accept {
    display: none;
  }
}
.header-title__accept:hover {
  background-color: #63d737;
  color: rgb(246, 245, 245);
  cursor: pointer;
  width: 86px;
  height: 30px;
  border-radius: 99.153px;
}
.header-title__accept-image {
  color: #fff;
  background-image: url("./images/button-sv.svg");
  background-repeat: no-repeat;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .header-title__accept-image {
    display: flex;
    height: 20px;
  }
}
.header-title__accept-image:hover {
  color: rgb(15, 15, 15);
  cursor: pointer;
}
.header-title__accept-image__text {
  margin-top: 5px;
}
.header-title button {
  border-radius: 30px;
}
.header-title > :last-child {
  height: 30px;
  width: 135px;
}
@media (max-width: 768px) {
  .header-title > :last-child {
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 99.153px;
  }
}

.header-title__icon {
  display: flex;
  justify-content: right;
  width: 215px;
  height: 86px;
  background-image: url("/images/rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: 20rem;
}
@media (max-width: 768px) {
  .header-title__icon {
    height: 92px;
    margin-left: 72px;
  }
}
.header-title__icon-title {
  color: var(--background, #293b2b);
  margin: 14px 21px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 768px) {
  .header-title__icon-title {
    margin: 24px 38px;
    font-size: 15px;
  }
}
.header-title__icon-title__subtitle {
  color: var(--background, #293b2b);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 768px) {
  .header-title__icon-title__subtitle {
    font-size: 16px;
  }
}

.general-content {
  height: 600px;
  width: 700px;
  padding: 0 310px;
}
@media (max-width: 768px) {
  .general-content {
    padding: 40px;
  }
}
.general-content__title {
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 43.557px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 768px) {
  .general-content__title {
    font-size: 26px;
    margin-left: 2.2rem;
  }
}
.general-content__title-subtitle {
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 43.557px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  margin-left: 36px;
}
@media (max-width: 768px) {
  .general-content__title-subtitle {
    font-size: 26px;
  }
}
.general-content__title-subtitle__counter {
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 56.624px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  margin-left: 36px;
}
@media (max-width: 768px) {
  .general-content__title-subtitle__counter {
    font-size: 26px;
    margin: 0 -2.2rem;
  }
}
.general-content__statistick pre {
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 768px) {
  .general-content__statistick pre {
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin-left: -1.3rem;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
}
.general-content__register {
  background-image: url("/images/button-bold.svg");
  background-repeat: no-repeat;
  height: 100px;
  opacity: 0;
  -webkit-animation: fadeIn 5s infinite;
          animation: fadeIn 5s infinite;
}
@media (max-width: 768px) {
  .general-content__register {
    margin-left: 53px;
    margin-top: -1.3rem;
    background-size: 33%;
  }
}
.general-content__register:hover {
  cursor: pointer;
}
.general-content__register-title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 148.9%;
}
@media (max-width: 768px) {
  .general-content__register-title {
    font-size: 22px;
    margin-left: -1.3rem;
  }
}

.point {
  display: flex;
  justify-content: center;
  margin: 5rem 20rem;
  width: 100%;
}
.point:hover {
  cursor: pointer;
}
.point_one {
  width: 10px;
  height: 10px;
  border-radius: 1010px;
  background: var(--grey, #d9d9d9);
  margin: 0 10px;
}
.point_two {
  width: 10px;
  height: 10px;
  border-radius: 1010px;
  background: linear-gradient(149deg, #63d737 0%, #058048 100%);
}

.footer-content {
  background: var(--Background, #293b2b);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
}
.footer-content__items {
  padding: 110px 310px;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 65px;
  display: flex;
}
.footer-content__items img {
  margin-left: 85px;
  z-index: 2;
}
.footer-content__items-left {
  height: 45px;
}
.footer-content__items-left__subscribe {
  height: 40px;
  width: 180px;
  margin: 0 -29px;
  color: #fff;
  font-family: Inter;
  font-size: 17.186px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/subscribe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 99.153px;
}
.footer-content__items-right {
  display: flex;
}
.footer-content__icons {
  max-width: 1255px;
  margin-left: 7rem;
  padding: 0px 8px 60px 16px;
}
.footer-content__icons-iconUpper {
  padding: 10px;
}
.footer-content__icons-iconUpper img {
  margin: 0 30px;
}
.footer-content__icons-iconCamel {
  padding: 10px;
}
.footer-content__icons-iconCamel img {
  margin: 0 30px;
}

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: "MyFont";
}
footer a {
  color: rgba(28, 211, 89, 0.6);
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/Inter-Black.otf") format("opentype");
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    left: 150%;
  }
  to {
    opacity: 0;
    left: -150%;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    left: 150%;
  }
  to {
    opacity: 0;
    left: -150%;
  }
}
@-webkit-keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}/*# sourceMappingURL=style.css.map */